@import "node_modules/coffeekraken-sugar/index";
@import "node_modules/coffeekraken-s-typography-component/index";
@import "node_modules/coffeekraken-s-button-component/index";

@include s-setup(());
@include s-init();
@include s-classes();

@include s-typography-classes();
@include s-button-classes();

body {
  padding: s-space(bigger);

  &.s-square-scale-transition {
    overflow: hidden;
  }
}

s-square-scale-transition[standard],
s-square-scale-transition[advanced] {
  background: s-color(secondary);
}
s-square-scale-transition[advanced] {
  background: s-color(primary);

  &.animate-in--phase-1 {
    transition: height 0.4s cubic-bezier(1, 0, 0, 1) 0s,
      width 0.4s cubic-bezier(1, 0, 0, 1) 0s,
      top 0.4s cubic-bezier(1, 0, 0, 1) 0s,
      left 0.4s cubic-bezier(1, 0, 0, 1) 0s;
  }
}
